openapi: 3.1.0
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2606.1.1**

    >

    > Date: **July 10, 2026**

    <div class="notification"> NOTE:<br>Some important API changes will be introduced. Please make sure to read the <a href="https://www.juniper.net/documentation/us/en/software/mist/api/http/guides/important-api-changes">announcements</a> </div>


    ---

    ## Additional Documentation

    * [Mist Automation Guide](https://www.juniper.net/documentation/us/en/software/mist/automation-integration/index.html)

    * [Mist Location SDK](https://www.juniper.net/documentation/us/en/software/mist/location-services/topics/concept/mist-how-get-mist-sdk.html)

    * [Mist Product Updates](https://www.juniper.net/documentation/us/en/software/mist/product-updates/)


    ## Helpful Resources

    * [API Sandbox and Exercises](https://api-class.mist.com/)

    * [Postman Collection, Runners and Webhook Samples](https://www.postman.com/juniper-mist/workspace/mist-systems-s-public-workspace)

    * [Python Script Examples](https://github.com/tmunzer/mist_library)

    * [API Demo Apps](https://apps.mist-lab.fr/)

    * [Juniper Blog](https://blogs.juniper.net/)


    ## Mist Web Browser Extension:

    * Google Chrome, Microsoft Edge and other Chromium-based browser: [Chrome Web Store](https://chromewebstore.google.com/detail/mist-extension/ejhpdcljeamillfhdihkkmoakanpbplh)

    * Firefox: [Firefox Add-ons](https://addons.mozilla.org/en-US/firefox/addon/mist-extension/)


    ---'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist Admins Utilities Wi-Fi API
  version: 2606.1.1
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Global 05
  url: https://api.gc4.mist.com
- description: Mist EMEA 01
  url: https://api.eu.mist.com
- description: Mist EMEA 02
  url: https://api.gc3.mist.com
- description: Mist EMEA 03
  url: https://api.ac6.mist.com
- description: Mist EMEA 04
  url: https://api.gc6.mist.com
- description: Mist APAC 01
  url: https://api.ac5.mist.com
- description: Mist APAC 02
  url: https://api.gc5.mist.com
- description: Mist APAC 03
  url: https://api.gc7.mist.com
security:
- apiToken: []
- csrfToken: []
tags:
- description: API Calls to use Devices Troubleshooting tools specific to Wireless Assurance
  name: Utilities Wi-Fi
paths:
  /api/v1/orgs/{org_id}/clients/{client_mac}/coa:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/client_mac'
    post:
      description: Trigger a CoA (change of authorization) against a client
      operationId: reauthOrgDot1xWirelessClient
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: reauthOrgDot1xWirelessClient
      tags:
      - Utilities Wi-Fi
  /api/v1/sites/{site_id}/clients/disconnect:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: To unauthorize multiple clients
      operationId: disconnectSiteMultipleClients
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                - 5c5b350e0001
                - 5c5b350e0003
            schema:
              $ref: '#/components/schemas/strings'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: disconnectSiteMultipleClients
      tags:
      - Utilities Wi-Fi
  /api/v1/sites/{site_id}/clients/unauthorize:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: This unauthorize clients (if they are guest) and disconnect them. From the guest’s perspective, they will see the splash page again and go through the flow (e.g. Terms of Use) again.
      operationId: unauthorizeSiteMultipleClients
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mac_addresses'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: unauthorizeSiteMultipleClients
      tags:
      - Utilities Wi-Fi
  /api/v1/sites/{site_id}/clients/{client_mac}/coa:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/client_mac'
    post:
      description: Trigger a CoA (change of authorization) against a Wireless client
      operationId: reauthSiteDot1xWirelessClient
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: reauthSiteDot1xWirelessClient
      tags:
      - Utilities Wi-Fi
  /api/v1/sites/{site_id}/clients/{client_mac}/disconnect:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/client_mac'
    post:
      description: This disconnect a client (and it’s likely to connect back)
      operationId: disconnectSiteWirelessClient
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: disconnectSiteWirelessClient
      tags:
      - Utilities Wi-Fi
  /api/v1/sites/{site_id}/clients/{client_mac}/unauthorize:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/client_mac'
    post:
      description: This unauthorize a client (if it’s a guest) and disconnect it. From the guest’s perspective, s/he will see the splash page again and go through the flow (e.g. Terms of Use) again.
      operationId: unauthorizeSiteWirelessClient
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: unauthorizeSiteWirelessClient
      tags:
      - Utilities Wi-Fi
  /api/v1/sites/{site_id}/devices/reprovision:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: To force all Devices to reprovision itself again.
      operationId: reprovisionSiteAllDevices
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: reprovisionSiteAllDevices
      tags:
      - Utilities Wi-Fi
  /api/v1/sites/{site_id}/devices/reset_radio_config:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Reset all APs in the Site to use RRM
      operationId: resetSiteAllApsToUseRrm
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  bands:
                  - '24'
                  - '5'
                  - '6'
                  force: false
            schema:
              $ref: '#/components/schemas/utils_reset_radio_config'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: resetSiteAllApsToUseRrm
      tags:
      - Utilities Wi-Fi
  /api/v1/sites/{site_id}/devices/zeroize:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Zeroize all FIPS APs in the Site
      operationId: zeroizeSiteFipsAllAps
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  password: NUKETHESITE
            schema:
              $ref: '#/components/schemas/utils_zeroize_fips'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: zeroizeSiteFipsAllAps
      tags:
      - Utilities Wi-Fi
  /api/v1/sites/{site_id}/rogues/{rogue_bssid}/deauth_clients:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/rogue_bssid'
    post:
      description: Send Deauth frame to clients connected to a Rogue AP
      operationId: deauthSiteWirelessClientsConnectedToARogue
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deauthSiteWirelessClientsConnectedToARogue
      tags:
      - Utilities Wi-Fi
  /api/v1/sites/{site_id}/rrm/optimize:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Optimize Site RRM
      operationId: optimizeSiteRrm
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  bands:
                  - '24'
                  - '5'
                  - '6'
            schema:
              $ref: '#/components/schemas/utils_rrm_optimize'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: optimizeSiteRrm
      tags:
      - Utilities Wi-Fi
  /api/v1/utils/test_smsglobal:
    post:
      description: 'Allows validation of Global sms gateway credentials.


        In case of success, a text message confirming successful setup should be received. In case of error, smsglobal error message are returned.'
      operationId: testSiteWlanSmsGlobal
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  smsglobal_api_key: '123456'
                  smsglobal_api_secret: abcdef
                  smsglobal_sender: '61400000002'
                  to: '+911122334455'
            schema:
              $ref: '#/components/schemas/test_sms_global'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: testSiteWlanSmsGlobal
      tags:
      - Utilities Wi-Fi
  /api/v1/utils/test_telstra:
    post:
      description: 'Allows validation of Telstra sms gateway credentials.


        In case of success, a text message confirming successful setup should be received. In case of error, telstra error message are returned.'
      operationId: testSiteWlanTelstraSetup
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  telstra_client_id: '123456'
                  telstra_client_secret: abcdef
                  to: '+911122334455'
            schema:
              $ref: '#/components/schemas/test_telstra'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: testSiteWlanTelstraSetup
      tags:
      - Utilities Wi-Fi
  /api/v1/utils/test_twilio:
    post:
      description: 'Allows validation of twilio setup

        In case of success, a text message confirming successful setup should be received. In case of error, twilio error code and message are returned.'
      operationId: testSiteWlanTwilioSetup
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  from: '+185051234567'
                  to: '+19999999999'
                  twilio_auth_token: 2135be04736a1a0a314bce432d61721a
                  twilio_sid: REDACTED_TWILIO_ACCOUNT_SID
            schema:
              $ref: '#/components/schemas/test_twilio'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: testSiteWlanTwilioSetup
      tags:
      - Utilities Wi-Fi
components:
  parameters:
    rogue_bssid:
      in: path
      name: rogue_bssid
      required: true
      schema:
        examples:
        - 0000000000ab
        pattern: ^[0-9a-fA-F]{12}$
        type: string
    org_id:
      in: path
      name: org_id
      required: true
      schema:
        examples:
        - 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    client_mac:
      in: path
      name: client_mac
      required: true
      schema:
        examples:
        - 0000000000ab
        pattern: ^[0-9a-fA-F]{12}$
        type: string
    site_id:
      in: path
      name: site_id
      required: true
      schema:
        examples:
        - 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
  schemas:
    utils_rrm_optimize_macs:
      description: AP MAC addresses to target for optimization. Neighboring APs may also change; omitted or empty targets all APs
      items:
        examples:
        - 5c5b35000001
        type: string
      type: array
    strings:
      description: Unique string values returned or accepted by this schema
      items:
        type: string
      type: array
      uniqueItems: true
    response_http429:
      additionalProperties: false
      description: Standard HTTP 429 rate limit error response
      properties:
        detail:
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          type: string
      type: object
    response_http401:
      additionalProperties: false
      description: Standard HTTP 401 authentication error response
      properties:
        detail:
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
          type: string
      type: object
    response_http403:
      additionalProperties: false
      description: Standard HTTP 403 permission error response
      properties:
        detail:
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
          type: string
      type: object
    utils_reset_radio_config:
      description: Request to reset AP radio settings to RRM-managed values
      properties:
        bands:
          $ref: '#/components/schemas/utils_reset_radio_config_bands'
          description: Radio bands to reset to RRM management
        force:
          default: false
          description: Whether to reset radios that are currently disabled; default `false` honors radios intentionally disabled by the user
          type: boolean
      required:
      - bands
      type: object
    test_sms_global:
      description: Request body for validating SMSGlobal SMS gateway credentials
      properties:
        smsglobal_api_key:
          description: SMSGlobal API key used to send the test SMS
          examples:
          - '123456'
          type: string
        smsglobal_api_secret:
          description: SMSGlobal API secret used to send the test SMS
          examples:
          - abcdef
          format: password
          type: string
        smsglobal_sender:
          description: Optional sender's number or sender ID. If not provided, uses the default number associated with the account
          examples:
          - '61400000002'
          type: string
        to:
          description: Phone number of the recipient of SMS with country code
          examples:
          - '+911122334455'
          type: string
      required:
      - smsglobal_api_key
      - smsglobal_api_secret
      - to
      type: object
    utils_rrm_optimize:
      description: Request to optimize RRM for selected AP radio bands
      properties:
        bands:
          $ref: '#/components/schemas/utils_rrm_optimize_bands'
          description: Radio bands to include in the RRM optimization
        macs:
          $ref: '#/components/schemas/utils_rrm_optimize_macs'
          description: AP MAC addresses to target for optimization; omitted or empty targets all APs
        txpower_only:
          default: false
          description: When true, adjust only transmit power so clients are not disconnected
          type: boolean
      required:
      - bands
      type: object
    response_http400:
      additionalProperties: false
      description: Standard HTTP 400 bad request error response
      properties:
        detail:
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
          type: string
      type: object
    test_twilio:
      description: Request body for validating Twilio SMS gateway credentials
      properties:
        from:
          description: One of the numbers you have in your Twilio account
          examples:
          - '+185051234567'
          type: string
        to:
          description: Phone number of the recipient of SMS
          examples:
          - '+19999999999'
          type: string
        twilio_auth_token:
          description: Twilio Auth Token used to send the test SMS
          examples:
          - 2135be04736a1a0a314bce432d61721a
          type: string
        twilio_sid:
          description: Twilio account SID used to send the test SMS
          examples:
          - REDACTED_TWILIO_ACCOUNT_SID
          type: string
      required:
      - twilio_sid
      - twilio_auth_token
      - from
      - to
      type: object
    mac_addresses:
      description: Request containing one or more MAC addresses
      properties:
        macs:
          $ref: '#/components/schemas/mac_addresses_macs'
          description: List of MAC addresses included in the request
      required:
      - macs
      type: object
    utils_rrm_optimize_bands:
      description: Radio bands to include in the RRM optimization
      items:
        type: string
      type: array
    mac_addresses_macs:
      description: Unique MAC addresses included in a request
      examples:
      - - 683b679ac024
      items:
        type: string
      minItems: 1
      type: array
      uniqueItems: true
    utils_zeroize_fips:
      description: Request body for confirming FIPS AP zeroize operations
      properties:
        password:
          description: Confirmation password for the FIPS zeroize operation
          format: password
          type: string
      required:
      - password
      type: object
    utils_reset_radio_config_bands:
      description: Radio bands to reset, such as `24`, `5`, or `6`
      items:
        type: string
      type: array
    response_http404:
      additionalProperties: false
      description: Standard HTTP 404 not found error response
      properties:
        id:
          description: Missing resource identifier, when the API includes one
          type: string
      type: object
    test_telstra:
      description: Request body for validating Telstra SMS gateway credentials
      properties:
        telstra_client_id:
          description: Telstra client identifier used to send the test SMS
          examples:
          - '123456'
          type: string
        telstra_client_secret:
          description: Telstra client secret used to send the test SMS
          examples:
          - abcdef
          format: password
          type: string
        to:
          description: Phone number of the recipient of SMS with country code
          examples:
          - '+911122334455'
          type: string
      required:
      - telstra_client_id
      - telstra_client_secret
      - to
      type: object
  responses:
    HTTP429:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP429Example'
          schema:
            $ref: '#/components/schemas/response_http429'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP429Example'
          schema:
            $ref: '#/components/schemas/response_http429'
      description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
    OK:
      description: OK
    HTTP400:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP400Example'
          schema:
            $ref: '#/components/schemas/response_http400'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP400Example'
          schema:
            $ref: '#/components/schemas/response_http400'
      description: Bad Syntax
    HTTP403:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP403Example'
          schema:
            $ref: '#/components/schemas/response_http403'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP403Example'
          schema:
            $ref: '#/components/schemas/response_http403'
      description: Permission Denied
    HTTP404:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/response_http404'
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/response_http404'
      description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
    HTTP401:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP401Example'
          schema:
            $ref: '#/components/schemas/response_http401'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP401Example'
          schema:
            $ref: '#/components/schemas/response_http401'
      description: Unauthorized
  examples:
    HTTP403Example:
      value:
        detail: You do not have permission to perform this action.
    HTTP400Example:
      value:
        detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
    HTTP429Example:
      value:
        detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
    HTTP401Example:
      value:
        detail: Authentication credentials were not provided.
  securitySchemes:
    apiToken:
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      in: header
      name: Authorization
      type: apiKey
    csrfToken:
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      in: header
      name: X-CSRFToken
      type: apiKey
