openapi: 3.2.0
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2606.1.1**

    >

    > Date: **July 10, 2026**

    <div class="notification"> NOTE:<br>Some important API changes will be introduced. Please make sure to read the <a href="https://www.juniper.net/documentation/us/en/software/mist/api/http/guides/important-api-changes">announcements</a> </div>


    ---

    ## Additional Documentation

    * [Mist Automation Guide](https://www.juniper.net/documentation/us/en/software/mist/automation-integration/index.html)

    * [Mist Location SDK](https://www.juniper.net/documentation/us/en/software/mist/location-services/topics/concept/mist-how-get-mist-sdk.html)

    * [Mist Product Updates](https://www.juniper.net/documentation/us/en/software/mist/product-updates/)


    ## Helpful Resources

    * [API Sandbox and Exercises](https://api-class.mist.com/)

    * [Postman Collection, Runners and Webhook Samples](https://www.postman.com/juniper-mist/workspace/mist-systems-s-public-workspace)

    * [Python Script Examples](https://github.com/tmunzer/mist_library)

    * [API Demo Apps](https://apps.mist-lab.fr/)

    * [Juniper Blog](https://blogs.juniper.net/)


    ## Mist Web Browser Extension:

    * Google Chrome, Microsoft Edge and other Chromium-based browser: [Chrome Web Store](https://chromewebstore.google.com/detail/mist-extension/ejhpdcljeamillfhdihkkmoakanpbplh)

    * Firefox: [Firefox Add-ons](https://addons.mozilla.org/en-US/firefox/addon/mist-extension/)


    ---'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist Orgs SSO Roles API
  version: 2606.1.1
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Global 05
  url: https://api.gc4.mist.com
- description: Mist EMEA 01
  url: https://api.eu.mist.com
- description: Mist EMEA 02
  url: https://api.gc3.mist.com
- description: Mist EMEA 03
  url: https://api.ac6.mist.com
- description: Mist EMEA 04
  url: https://api.gc6.mist.com
- description: Mist APAC 01
  url: https://api.ac5.mist.com
- description: Mist APAC 02
  url: https://api.gc5.mist.com
- description: Mist APAC 03
  url: https://api.gc7.mist.com
security:
- apiToken: []
- csrfToken: []
tags:
- description: 'SSO roles refer to the different functions assigned to users within a Single Sign-On (SSO) system.


    These roles determine the tasks and actions that users can perform within the SSO system. There are typically predefined roles and custom roles in an SSO system.


    Roles in SSO provide a well-defined separation of responsibility and visibility, allowing for granular-level access control on SSO objects.'
  name: Orgs SSO Roles
paths:
  /api/v1/orgs/{org_id}/ssoroles:
    parameters:
    - $ref: '#/components/parameters/org_id'
    get:
      description: List organization SSO role definitions that map identity-provider role assertions to organization, site, or site group privilege scopes.
      operationId: listOrgSsoRoles
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/SsoRolesOrgArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgSsoRoles
      tags:
      - Orgs SSO Roles
    post:
      description: Create an organization SSO role definition with a display name and the privileges granted when the role is matched during SSO.
      operationId: createOrgSsoRole
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  name: string
                  privileges:
                  - org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    role: admin
                    scope: org
                  - role: read
                    scope: site
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  - org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    role: read
                    scope: sitegroup
                    sitegroup_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              $ref: '#/components/schemas/sso_role_org'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/SsoRoleOrg'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgSsoRole
      tags:
      - Orgs SSO Roles
  /api/v1/orgs/{org_id}/ssoroles/{ssorole_id}:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/ssorole_id'
    delete:
      description: Delete an organization SSO role definition so it can no longer grant privileges during SSO.
      operationId: deleteOrgSsoRole
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgSsoRole
      tags:
      - Orgs SSO Roles
    get:
      description: Return one organization SSO role definition, including its display name and granted privileges.
      operationId: getOrgSsoRole
      responses:
        '200':
          $ref: '#/components/responses/SsoRoleOrg'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgSsoRole
      tags:
      - Orgs SSO Roles
    put:
      description: Update an organization SSO role definition, including its display name and granted privileges.
      operationId: updateOrgSsoRole
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  name: string
                  privileges:
                  - org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    role: admin
                    scope: org
                  - role: read
                    scope: site
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  - org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    role: read
                    scope: sitegroup
                    sitegroup_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              $ref: '#/components/schemas/sso_role_org'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/SsoRoleOrg'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgSsoRole
      tags:
      - Orgs SSO Roles
components:
  schemas:
    admin_privilege_views:
      description: "Custom roles restrict Org users to specific UI views. This is useful for limiting UI access of Org users. Custom roles restrict Org users to specific UI views. This is useful for limiting UI access of Org users.  \nYou can define custom roles by adding the `views` attribute along with `role` when assigning privileges.  \nBelow are the list of supported UI views. Note that this is UI only feature.  \n\n  | UI View | Required Role | Description |\n  | --- | --- | --- |\n  | `reporting` | `read` | full access to all analytics tools |\n  | `marketing` | `read` | can view analytics and location maps |\n  | `super_observer` | `read` | can view all the organization except the subscription page |\n  | `location` | `write` | can view and manage location maps, can view analytics |\n  | `security` | `write` | can view and manage site labels, policies and security |\n  | `switch_admin` | `helpdesk` | can view and manage Switch ports, can view wired clients |\n  | `mxedge_admin` | `admin` | can view and manage Mist edges and Mist tunnels |\n  | `lobby_admin` | `admin` | full access to Org and Site Pre-shared keys |"
      items:
        $ref: '#/components/schemas/admin_privilege_view'
      type: array
    response_http403:
      additionalProperties: false
      description: Standard HTTP 403 permission error response
      properties:
        detail:
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
          type: string
      type: object
    response_http400:
      additionalProperties: false
      description: Standard HTTP 400 bad request error response
      properties:
        detail:
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
          type: string
      type: object
    sso_role_org_privileges:
      description: Access privileges granted by an organization SSO role
      items:
        $ref: '#/components/schemas/privilege_org'
      minItems: 1
      type: array
      uniqueItems: true
    privilege_org:
      additionalProperties: false
      description: Organization privilege scope and role settings
      properties:
        org_id:
          description: If `scope`==`org`, organization ID this privilege applies to
          format: uuid
          readOnly: true
          type: string
        role:
          $ref: '#/components/schemas/privilege_org_role'
          description: Access role granted by this organization privilege
        scope:
          $ref: '#/components/schemas/privilege_org_scope'
          description: Organization hierarchy level where this privilege applies
        site_id:
          description: If `scope`==`site`, site ID this privilege applies to
          format: uuid
          type: string
        sitegroup_id:
          description: If `scope`==`sitegroup`, site group ID this privilege applies to
          format: uuid
          type: string
        view:
          deprecated: true
          description: Used for backward compatibility. Use `views` instead.
          type: string
        views:
          $ref: '#/components/schemas/admin_privilege_views'
          description: UI views allowed by custom role restrictions
      required:
      - role
      - scope
      type: object
    modified_time:
      description: When the object has been modified for the last time, in epoch
      format: double
      readOnly: true
      type: number
    msp_id:
      description: Managed service provider identifier
      examples:
      - b9d42c2e-88ee-41f8-b798-f009ce7fe909
      format: uuid
      readOnly: true
      type: string
    sso_role_org:
      description: Organization SSO role definition
      properties:
        created_time:
          $ref: '#/components/schemas/created_time'
          description: Time when this organization SSO role was created, in epoch seconds
        for_site:
          description: Whether this organization SSO role is scoped for site-level access
          readOnly: true
          type: boolean
        id:
          $ref: '#/components/schemas/id'
          description: Unique identifier for this organization SSO role
        modified_time:
          $ref: '#/components/schemas/modified_time'
          description: Time when this organization SSO role was last modified, in epoch seconds
        msp_id:
          $ref: '#/components/schemas/msp_id'
          description: Managing MSP identifier for this organization SSO role, when applicable
        name:
          description: Display name of the organization SSO role
          type: string
        org_id:
          description: Owning organization identifier for this SSO role
          examples:
          - 60f6bfdb-2f45-4022-8e2a-e00d977953fe
          format: uuid
          type: string
        privileges:
          $ref: '#/components/schemas/sso_role_org_privileges'
          description: Access privileges granted by this organization SSO role
      required:
      - name
      - privileges
      type: object
    response_http404:
      additionalProperties: false
      description: Standard HTTP 404 not found error response
      properties:
        id:
          description: Missing resource identifier, when the API includes one
          type: string
      type: object
    sso_roles_org:
      description: Organization SSO roles returned by the request
      items:
        $ref: '#/components/schemas/sso_role_org'
      type: array
    response_http401:
      additionalProperties: false
      description: Standard HTTP 401 authentication error response
      properties:
        detail:
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
          type: string
      type: object
    response_http429:
      additionalProperties: false
      description: Standard HTTP 429 rate limit error response
      properties:
        detail:
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          type: string
      type: object
    id:
      description: Unique ID of the object instance in the Mist Organization
      examples:
      - 53f10664-3ce8-4c27-b382-0ef66432349f
      format: uuid
      readOnly: true
      type: string
    created_time:
      description: When the object has been created, in epoch
      format: double
      readOnly: true
      type: number
    privilege_org_scope:
      description: 'enum: `org`, `site`, `sitegroup`, `orgsites`'
      enum:
      - org
      - site
      - sitegroup
      - orgsites
      type: string
    privilege_org_role:
      description: 'access permissions. enum: `admin`, `helpdesk`, `installer`, `read`, `write`'
      enum:
      - admin
      - helpdesk
      - installer
      - read
      - write
      type: string
    admin_privilege_view:
      description: 'UI view name allowed by a custom admin role. enum: `lobby_admin`, `location`, `marketing`, `mxedge_admin`, `reporting`, `security`, `super_observer`, `switch_admin`'
      enum:
      - lobby_admin
      - location
      - marketing
      - mxedge_admin
      - reporting
      - security
      - super_observer
      - switch_admin
      type: string
  responses:
    SsoRolesOrgArray:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/sso_roles_org'
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/sso_roles_org'
      description: Example response
    SsoRoleOrg:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/SsoRoleOrgExample'
          schema:
            $ref: '#/components/schemas/sso_role_org'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/SsoRoleOrgExample'
          schema:
            $ref: '#/components/schemas/sso_role_org'
      description: OK
    HTTP401:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP401Example'
          schema:
            $ref: '#/components/schemas/response_http401'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP401Example'
          schema:
            $ref: '#/components/schemas/response_http401'
      description: Unauthorized
    HTTP400:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP400Example'
          schema:
            $ref: '#/components/schemas/response_http400'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP400Example'
          schema:
            $ref: '#/components/schemas/response_http400'
      description: Bad Syntax
    OK:
      description: OK
    HTTP404:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/response_http404'
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/response_http404'
      description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
    HTTP403:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP403Example'
          schema:
            $ref: '#/components/schemas/response_http403'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP403Example'
          schema:
            $ref: '#/components/schemas/response_http403'
      description: Permission Denied
    HTTP429:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP429Example'
          schema:
            $ref: '#/components/schemas/response_http429'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP429Example'
          schema:
            $ref: '#/components/schemas/response_http429'
      description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
  examples:
    SsoRoleOrgExample:
      value:
        created_time: 0
        id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        modified_time: 0
        msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        name: string
        org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
        privileges:
        - role: admin
          scope: sitegroup
          sitegroup_id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
        site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
    HTTP400Example:
      value:
        detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
    HTTP429Example:
      value:
        detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
    HTTP403Example:
      value:
        detail: You do not have permission to perform this action.
    HTTP401Example:
      value:
        detail: Authentication credentials were not provided.
  parameters:
    page:
      description: Select the page number to return when using page-based pagination; starts at `1`
      in: query
      name: page
      schema:
        default: 1
        minimum: 1
        type: integer
    org_id:
      in: path
      name: org_id
      required: true
      schema:
        examples:
        - 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    ssorole_id:
      in: path
      name: ssorole_id
      required: true
      schema:
        examples:
        - 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    limit:
      description: Maximum number of results to return per page
      in: query
      name: limit
      schema:
        default: 100
        minimum: 0
        type: integer
  securitySchemes:
    apiToken:
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      in: header
      name: Authorization
      type: apiKey
    csrfToken:
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      in: header
      name: X-CSRFToken
      type: apiKey
