openapi: 3.1.0
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2606.1.1**

    >

    > Date: **July 10, 2026**

    <div class="notification"> NOTE:<br>Some important API changes will be introduced. Please make sure to read the <a href="https://www.juniper.net/documentation/us/en/software/mist/api/http/guides/important-api-changes">announcements</a> </div>


    ---

    ## Additional Documentation

    * [Mist Automation Guide](https://www.juniper.net/documentation/us/en/software/mist/automation-integration/index.html)

    * [Mist Location SDK](https://www.juniper.net/documentation/us/en/software/mist/location-services/topics/concept/mist-how-get-mist-sdk.html)

    * [Mist Product Updates](https://www.juniper.net/documentation/us/en/software/mist/product-updates/)


    ## Helpful Resources

    * [API Sandbox and Exercises](https://api-class.mist.com/)

    * [Postman Collection, Runners and Webhook Samples](https://www.postman.com/juniper-mist/workspace/mist-systems-s-public-workspace)

    * [Python Script Examples](https://github.com/tmunzer/mist_library)

    * [API Demo Apps](https://apps.mist-lab.fr/)

    * [Juniper Blog](https://blogs.juniper.net/)


    ## Mist Web Browser Extension:

    * Google Chrome, Microsoft Edge and other Chromium-based browser: [Chrome Web Store](https://chromewebstore.google.com/detail/mist-extension/ejhpdcljeamillfhdihkkmoakanpbplh)

    * Firefox: [Firefox Add-ons](https://addons.mozilla.org/en-US/firefox/addon/mist-extension/)


    ---'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist Admins Orgs Clients - Marvis API
  version: 2606.1.1
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Global 05
  url: https://api.gc4.mist.com
- description: Mist EMEA 01
  url: https://api.eu.mist.com
- description: Mist EMEA 02
  url: https://api.gc3.mist.com
- description: Mist EMEA 03
  url: https://api.ac6.mist.com
- description: Mist EMEA 04
  url: https://api.gc6.mist.com
- description: Mist APAC 01
  url: https://api.ac5.mist.com
- description: Mist APAC 02
  url: https://api.gc5.mist.com
- description: Mist APAC 03
  url: https://api.gc7.mist.com
security:
- apiToken: []
- csrfToken: []
tags:
- description: 'Marvis Invites can be generated for (and belongs to) an Org. They can be generated by an Admin of an Org and can be revoked at anytime.


    Marvis Clients are devices that have the Marvis Android Client installed on them and are connected to a Juniper Mist AP.


    They provide detailed data and telemetry about the client''s wireless connection, including information about roaming behavior, connection type, and wireless properties.'
  name: Orgs Clients - Marvis
paths:
  /api/v1/orgs/{org_id}/insights/marvisclient/{marvisclient_id}/marvisclient-metrics:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - description: Marvis Client device UUID
      in: path
      name: marvisclient_id
      required: true
      schema:
        format: uuid
        type: string
    get:
      description: Return time-series metrics for a specific Marvis Client device. For the full list of supported metric field names and example values, refer to [List Insight Metrics](/#operations/listInsightMetrics) under `/api/v1/const/insight_metrics`.
      operationId: getOrgMarvisClientInsights
      parameters:
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/interval'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/MarvisClientInsights'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgMarvisClientInsights
      tags:
      - Orgs Clients - Marvis
  /api/v1/orgs/{org_id}/marvisclients/events/count:
    parameters:
    - $ref: '#/components/parameters/org_id'
    get:
      description: Count Marvis Client events by a distinct field.
      operationId: countOrgMarvisClientEvents
      parameters:
      - description: 'Field to count by. enum: `type`, `device_id`, `wifi_mac`, `wifi_ip`, `hostname`, `ssid`, `bssid`, `channel`, `pre_bssid`, `pre_channel`'
        in: query
        name: distinct
        schema:
          default: type
          type: string
      - description: Filter by event type
        in: query
        name: type
        schema:
          type: string
      - description: Filter by Marvis Client installation device UUID
        in: query
        name: device_id
        schema:
          type: string
      - description: Filter by device Wi-Fi MAC address
        in: query
        name: wifi_mac
        schema:
          type: string
      - description: Filter by device Wi-Fi IP address
        in: query
        name: wifi_ip
        schema:
          type: string
      - description: Filter by device hostname
        in: query
        name: hostname
        schema:
          type: string
      - description: Filter by SSID involved in roam events
        in: query
        name: ssid
        schema:
          type: string
      - description: Filter by BSSID the client roamed to
        in: query
        name: bssid
        schema:
          type: string
      - description: Filter by channel the client roamed to
        in: query
        name: channel
        schema:
          type: string
      - description: Filter by BSSID the client roamed from
        in: query
        name: pre_bssid
        schema:
          type: string
      - description: Filter by channel the client roamed from
        in: query
        name: pre_channel
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/MarvisClientEventsCount'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countOrgMarvisClientEvents
      tags:
      - Orgs Clients - Marvis
  /api/v1/orgs/{org_id}/marvisclients/events/search:
    parameters:
    - $ref: '#/components/parameters/org_id'
    get:
      description: Search Marvis Client events across the organization.
      operationId: searchOrgMarvisClientEvents
      parameters:
      - description: Filter by event type
        in: query
        name: type
        schema:
          type: string
      - description: Filter by Marvis Client installation device UUID
        in: query
        name: device_id
        schema:
          type: string
      - description: Filter by device Wi-Fi MAC address
        in: query
        name: wifi_mac
        schema:
          type: string
      - description: Filter by device Wi-Fi IP address
        in: query
        name: wifi_ip
        schema:
          type: string
      - description: Filter by device hostname
        in: query
        name: hostname
        schema:
          type: string
      - description: Filter by SSID involved in roam events
        in: query
        name: ssid
        schema:
          type: string
      - description: Filter by BSSID the client roamed to
        in: query
        name: bssid
        schema:
          type: string
      - description: Filter by channel the client roamed to
        in: query
        name: channel
        schema:
          type: string
      - description: Filter by BSSID the client roamed from
        in: query
        name: pre_bssid
        schema:
          type: string
      - description: Filter by channel the client roamed from
        in: query
        name: pre_channel
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/MarvisClientEventsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchOrgMarvisClientEvents
      tags:
      - Orgs Clients - Marvis
  /api/v1/orgs/{org_id}/stats/marvisclients:
    parameters:
    - $ref: '#/components/parameters/org_id'
    delete:
      description: Delete Marvis Client
      operationId: deleteOrgMarvisClient
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgMarvisClient
      tags:
      - Orgs Clients - Marvis
components:
  schemas:
    marvis_client_event_neighbor_ap:
      additionalProperties: false
      description: A neighboring AP observed in a Marvis Client event
      properties:
        band:
          description: Wi-Fi band the AP is operating on
          type: string
        bssid:
          description: BSSID of the neighboring AP
          type: string
        channel:
          description: Channel the neighboring AP is on
          type: integer
        rssi:
          description: RSSI of the neighboring AP signal, in dBm
          type: integer
      type: object
    marvis_client_event:
      additionalProperties: false
      description: A Marvis Client event record
      properties:
        band:
          description: Wi-Fi band at the time of the event
          type: string
        bssid:
          description: BSSID the client roamed to (for roam events)
          type: string
        channel:
          description: Channel the client roamed to (for roam events)
          type: integer
        device_id:
          description: UUID of the device the Marvis Client is installed on
          format: uuid
          type: string
        hostname:
          description: Device hostname
          type: string
        location:
          $ref: '#/components/schemas/stats_marvis_client_location'
          description: Last known device location
        neighbor_ap_report:
          description: List of neighboring APs observed at the time of the event
          items:
            $ref: '#/components/schemas/marvis_client_event_neighbor_ap'
          type: array
        org_id:
          description: Organization UUID
          format: uuid
          type: string
        percent:
          description: Battery level percentage at the time of the event (for battery events)
          type: integer
        pre_bssid:
          description: BSSID the client roamed from (for roam events)
          type: string
        pre_channel:
          description: Channel the client roamed from (for roam events)
          type: integer
        pre_rssi:
          description: RSSI before the roam event, in dBm
          type: integer
        rssi:
          description: Wi-Fi RSSI at the time of the event, in dBm
          type: integer
        ssid:
          description: SSID the client was connected to
          type: string
        timestamp:
          description: Event timestamp, in epoch seconds
          type: integer
        type:
          description: Event type
          type: string
        wifi_ip:
          description: Device Wi-Fi IP address at the time of the event
          type: string
        wifi_mac:
          description: Device Wi-Fi MAC address
          type: string
      type: object
    response_http429:
      additionalProperties: false
      description: Standard HTTP 429 rate limit error response
      properties:
        detail:
          description: Human-readable explanation of the rate limit error
          examples:
          - Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          type: string
      type: object
    response_http401:
      additionalProperties: false
      description: Standard HTTP 401 authentication error response
      properties:
        detail:
          description: Human-readable explanation of the authentication error
          examples:
          - Authentication credentials were not provided.
          type: string
      type: object
    response_http403:
      additionalProperties: false
      description: Standard HTTP 403 permission error response
      properties:
        detail:
          description: Human-readable explanation of the permission error
          examples:
          - You do not have permission to perform this action.
          type: string
      type: object
    count_results:
      description: List of count result rows
      items:
        $ref: '#/components/schemas/count_result'
      type: array
      uniqueItems: true
    marvis_client_insights:
      additionalProperties: false
      description: Time-series performance metrics for a Marvis Client device
      properties:
        avg_battery:
          description: Average battery level per interval bucket
          items:
            type: number
          type: array
        avg_cellular_rssi:
          description: Average cellular RSSI per interval bucket, in dBm
          items:
            type: number
          type: array
        avg_cpu:
          description: Average CPU utilization per interval bucket (0–100)
          items:
            type: number
          type: array
        avg_memory:
          description: Average memory utilization per interval bucket (0–100)
          items:
            type: number
          type: array
        avg_wifi_rssi:
          description: Average Wi-Fi RSSI per interval bucket, in dBm
          items:
            type: number
          type: array
        end:
          description: End of the reporting window, in epoch seconds
          type: integer
        interval:
          description: Duration of each interval bucket, in seconds
          type: integer
        limit:
          description: Maximum number of results requested
          type: integer
        page:
          description: Current page number
          type: integer
        rt:
          description: List of ISO 8601 timestamp strings for each interval bucket
          items:
            type: string
          type: array
        start:
          description: Start of the reporting window, in epoch seconds
          type: integer
      type: object
    response_http400:
      additionalProperties: false
      description: Standard HTTP 400 bad request error response
      properties:
        detail:
          description: Human-readable explanation of the bad request error
          examples:
          - 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
          type: string
      type: object
    stats_marvis_client_location:
      additionalProperties: false
      description: Last known location fix for a Marvis Client device
      properties:
        map_id:
          description: UUID of the floor-plan map
          format: uuid
          type: string
        site_id:
          description: UUID of the site the device was located in
          format: uuid
          type: string
        timestamp:
          description: Timestamp of the location fix, in epoch seconds
          type: integer
        x:
          description: X coordinate on the floor-plan map, in pixels
          type: number
        y:
          description: Y coordinate on the floor-plan map, in pixels
          type: number
      type: object
    count_result:
      additionalProperties:
        type: string
      description: Count result row with the matching distinct field values
      properties:
        count:
          description: Number of matching items for the distinct value or values in this result
          type: integer
      required:
      - count
      type: object
    response_count:
      additionalProperties: false
      description: Distinct count response for time-bounded search results
      properties:
        distinct:
          description: Field used to group the count results
          type: string
        end:
          description: Search window end timestamp for the count request, in epoch seconds
          type: integer
        limit:
          description: Maximum number of distinct count results requested
          type: integer
        results:
          $ref: '#/components/schemas/count_results'
          description: Count results grouped by the distinct field
        start:
          description: Search window start timestamp for the count request, in epoch seconds
          type: integer
        total:
          description: Number of distinct result buckets returned
          type: integer
      required:
      - distinct
      - end
      - limit
      - results
      - start
      - total
      type: object
    marvis_client_events_search:
      additionalProperties: false
      description: Paginated list of Marvis Client events
      properties:
        limit:
          description: Maximum number of results requested
          type: integer
        results:
          description: List of Marvis Client events
          items:
            $ref: '#/components/schemas/marvis_client_event'
          type: array
        total:
          description: Total number of matching results
          type: integer
      type: object
    response_http404:
      additionalProperties: false
      description: Standard HTTP 404 not found error response
      properties:
        id:
          description: Missing resource identifier, when the API includes one
          type: string
      type: object
  examples:
    MarvisClientEventsSearchExample:
      value:
        limit: 100
        results:
        - bssid: 00:11:22:33:44:55
          channel: 6
          device_id: 0c2a2c6c-5a95-4956-a02d-e1b39c2e5c6e
          hostname: my-android-phone
          neighbor_ap_report:
          - band: 2.4GHz
            bssid: aa:bb:cc:dd:ee:ff
            channel: 1
            rssi: -72
          org_id: c168ddee-c14c-11e5-8e81-1258369c38a9
          pre_bssid: aa:bb:cc:dd:ee:ff
          pre_channel: 1
          pre_rssi: -70
          rssi: -58
          ssid: Corp-WiFi
          timestamp: 1717027200
          type: ROAM
          wifi_ip: 192.168.1.55
          wifi_mac: 00:aa:bb:cc:dd:ee
        total: 1
    CountExample:
      value:
        distinct: string
        end: 0
        limit: 0
        results:
        - count: 0
          property: string
        start: 0
        total: 0
    MarvisClientInsightsExample:
      value:
        avg_battery:
        - 82
        - 79
        avg_cellular_rssi:
        - -95
        - -92
        avg_cpu:
        - 12.5
        - 15.2
        avg_memory:
        - 43.1
        - 44.8
        avg_wifi_rssi:
        - -62
        - -60
        end: 1717113600
        interval: 3600
        limit: 100
        page: 1
        rt:
        - '2026-05-30T16:00:00Z'
        - '2026-05-30T17:00:00Z'
        start: 1717027200
    HTTP403Example:
      value:
        detail: You do not have permission to perform this action.
    HTTP400Example:
      value:
        detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
    HTTP429Example:
      value:
        detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
    HTTP401Example:
      value:
        detail: Authentication credentials were not provided.
  parameters:
    org_id:
      in: path
      name: org_id
      required: true
      schema:
        examples:
        - 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    start:
      description: Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`
      in: query
      name: start
      schema:
        type: string
    duration:
      description: Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`
      in: query
      name: duration
      schema:
        default: 1d
        examples:
        - 10m
        type: string
    limit:
      description: Maximum number of results to return per page
      in: query
      name: limit
      schema:
        default: 100
        minimum: 0
        type: integer
    page:
      description: Select the page number to return when using page-based pagination; starts at `1`
      in: query
      name: page
      schema:
        default: 1
        minimum: 1
        type: integer
    end:
      description: Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`
      in: query
      name: end
      schema:
        type: string
    interval:
      description: Aggregation works by giving a time range plus interval (e.g. 1d, 1h, 10m) where aggregation function would be applied to.
      in: query
      name: interval
      schema:
        examples:
        - 10m
        type: string
  responses:
    OK:
      description: OK
    HTTP400:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP400Example'
          schema:
            $ref: '#/components/schemas/response_http400'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP400Example'
          schema:
            $ref: '#/components/schemas/response_http400'
      description: Bad Syntax
    MarvisClientInsights:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/MarvisClientInsightsExample'
          schema:
            $ref: '#/components/schemas/marvis_client_insights'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/MarvisClientInsightsExample'
          schema:
            $ref: '#/components/schemas/marvis_client_insights'
      description: Marvis Client time-series metrics
    HTTP403:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP403Example'
          schema:
            $ref: '#/components/schemas/response_http403'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP403Example'
          schema:
            $ref: '#/components/schemas/response_http403'
      description: Permission Denied
    MarvisClientEventsCount:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/CountExample'
          schema:
            $ref: '#/components/schemas/response_count'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/CountExample'
          schema:
            $ref: '#/components/schemas/response_count'
      description: Count result
    MarvisClientEventsSearch:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/MarvisClientEventsSearchExample'
          schema:
            $ref: '#/components/schemas/marvis_client_events_search'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/MarvisClientEventsSearchExample'
          schema:
            $ref: '#/components/schemas/marvis_client_events_search'
      description: Paginated Marvis Client events search results
    HTTP404:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/response_http404'
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/response_http404'
      description: Not found. The API endpoint doesn’t exist or resource doesn’ t exist
    HTTP429:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP429Example'
          schema:
            $ref: '#/components/schemas/response_http429'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP429Example'
          schema:
            $ref: '#/components/schemas/response_http429'
      description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
    HTTP401:
      content:
        application/json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP401Example'
          schema:
            $ref: '#/components/schemas/response_http401'
        application/vnd.api+json:
          examples:
            Example:
              $ref: '#/components/examples/HTTP401Example'
          schema:
            $ref: '#/components/schemas/response_http401'
      description: Unauthorized
  securitySchemes:
    apiToken:
      description: "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed."
      in: header
      name: Authorization
      type: apiKey
    csrfToken:
      description: 'Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.


        **Format**:

        ```

        X-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx

        ```


        For automation, API Token authentication is preferred.'
      in: header
      name: X-CSRFToken
      type: apiKey
